<div id="base" class="container padding-vert-30">
    <div class="row">
        <!-- Disclaimer -->
        <div class="col-md-6">
            <h3 class="margin-bottom-10">Get Involved!</h3>
            <p>Mob always welcomes new members, student or community, to any rehearsal in the semester.</p>
            <p>We meet in the Band Hall south of the Rice Stadium.</p>
            <div class="clearfix"></div>
        </div>
        <!-- End Disclaimer -->
        <!-- Contact Details -->
        <div class="col-md-3">
            <h3 class="margin-bottom-10">Contact Details</h3>
            <p>Rice University,
                <br />6100 Main Street, MS-314,
                <br />Houston, TX 77005
                <br />USA
            </p>
            <p>Email:
                <a href="mailto:bands@rice.edu">bands@rice.edu</a>
            </p>
        </div>
        <!-- End Contact Details -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Footer Menu -->
<div id="footermenu" class="container">
    <div class="row">
        <ul class="list-unstyled list-inline">
            <li>
                <a href="mob.html">MOB</a>
            </li>
            <li>
                <a href="symphonic.html">Rice Symphonic Band</a>
            </li>
            <li>
                <a href="jazz.html">Jazz Band</a>
            </li>
            <li>
                <a href="chamber.html">Chamber Music</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- End Footer Menu -->