<div id="container_header" class="container">
    <div id="header" class="row">
        <div class="col-md-12 margin-top-15">
            <!-- Header Social Icons -->
            <ul class="social-icons circle pull-right">
                <li class="social-rss">
                    <a href="#" target="_blank" title="RSS"></a>
                </li>
                <li class="social-twitter">
                    <a href="https://twitter.com/ricemob" target="_blank" title="Twitter"></a>
                </li>
                <li class="social-facebook">
                    <a href="https://www.facebook.com/TheRiceUniversityMarchingOwlBand/?fref=ts" target="_blank" title="Facebook"></a>
                </li>
                <li class="social-googleplus">
                    <a href="#" target="_blank" title="GooglePlus"></a>
                </li>
            </ul>
            <!-- End Header Social Icons -->
        </div>
        <div class="clear"></div>
    </div>
</div>