<div id="container_hornav" class="container no-padding">
    <!-- Logo -->
    <div class="logo">
        <a href="index.html">
            <img src="assets\img\BandsAtRice.png" alt="Logo" />
        </a>
    </div>
    <!-- End Logo -->
    <!-- Slogan -->
    <p class="site-slogan">Tooting Our Own Horn</p>
    <!-- End Slogan -->
    <!-- Top Menu -->
    <div class="row">
        <div class="hornav-block">
            <div id="hornav" class="pull-right">
                <ul id="hornavmenu" class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span>Who We Are</span>
                        <ul>
                            <li>
                                <a href="mob.html">MOB</a>
                            </li>
                            <li>
                                <a href="symphonic.html">Rice Symphonic Band</a>
                            </li>
                            <li>
                                <a href="jazz.html">Jazz Band</a>
                            </li>
                            <li>
                                <a href="chamber.html">Chamber Music</a>
                            </li>
                            <li>
                                <a href="leadership.html">Leadership</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="calendar.html">Calendar</a>
                    </li>
                    <li>
                        <a href="archives.html">Archives</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- End Top Menu -->
</div>
